%disflex
  display: flex
  width: 100%
  flex-direction: column

#container
  margin-top: 15vh
  display: flex
  flex-direction: column
  align-items: center
  height: 90vh
  width: 90%
  padding: 0 5% 0 5% 

#containerSM
  margin-top: 15vh
  max-width: 1100px
  display: flex
  flex-direction: column
  height: 90vh
  margin-left: 21%
  width: 79%
  transition: all 300ms ease-in-out 0s

#takeNoteContainer
  @extend %disflex
  height: fit-content
  padding: 25px 0 25px 0
  align-items: center

.allNotesContainer
  display: flex
  flex-flow: row wrap
  width: 768px
  // justify-content: flex-start

.allNotesContainerSM
  display: flex
  flex-flow: row wrap
  padding: 0 12.5%
  width: 768px

.listAllNotesContainer
  display: flex
  flex-flow: row wrap
  width: 768px
  // justify-content: flex-start

.listAllNotesContainerSM
  display: flex
  flex-flow: row wrap
  padding: 0 12.5%
  width: 768px
  // justify-content: flex-start

@media only screen and (max-width: 4440px)
  #container
    margin-top: 10vh
  #containerSM
    margin-top: 10vh
    margin-left: 18%
    width: 82%
  .allNotesContainer
    padding: 0%
    width: 1024px
  .allNotesContainerSM
    padding: 0%
    margin-left: 6%
    width: 94%
  .listAllNotesContainer
    padding: 0%
    width: 1024px
  .listAllNotesContainerSM
    padding: 0%
    margin-left: 6%
    width: 94%

@media only screen and (max-width: 1500px)
  #container
    margin-top: 10vh
  #containerSM
    margin-top: 10vh
    margin-left: 21%
    width: 79%
  .allNotesContainer
    padding: 0%
    width: 768px
  .allNotesContainerSM
    padding: 0%
    margin-left: 12%
    width: 78%
  .listAllNotesContainer
    padding: 0%
    width: 768px
  .listAllNotesContainerSM
    padding: 0%
    margin-left: 12%
    width: 78%

@media only screen and (max-width: 1100px)
  #container
    margin-top: 10vh
  #containerSM
    margin-top: 10vh
    margin-left: 29%
    width: 71%
  .allNotesContainer
    padding: 0%
    width: 768px
  .allNotesContainerSM
    padding: 0%
    margin-left: 12%
    width: 78%
  .listAllNotesContainer
    padding: 0%
    width: 580px
  .listAllNotesContainerSM
    padding: 0%
    margin-left: 12%
    width: 78%

@media only screen and (max-width: 900px)
  #takeNoteContainer
    padding: 25px 5%
  #container
    margin-top: 10vh
  #containerSM
    margin-left: 29%
    width: 71%
  .allNotesContainer
    padding: 0%
    width: 580px 
  .allNotesContainerSM
    padding: 0% 24%  
    margin-left: 0%
    width: 325px
  .listAllNotesContainer
    padding: 0%
    width: 580px 
  .listAllNotesContainerSM
    padding: 0% 24%  
    margin-left: 0%
    width: 325px
  

@media only screen and (max-width: 675px)
  #container
    margin-top: 10vh
  .allNotesContainer
    padding: 0%
    width: 100%
  .allNotesContainerSM
    padding: 0%
    width: 100%
  .listAllNotesContainer
    padding: 0%
    width: 100%
  .listAllNotesContainerSM
    padding: 0%
    width: 100%

#lMenu
  display: block
  width: 225px

#sad
  padding-top: 10%
  display: flex
  width: 100%
  flex-direction: column
  align-items: center

.my-masonry-grid 
  display: -webkit-box
  display: -ms-flexbox 
  display: flex
  width: 100%

.my-masonry-grid_column 
  background-clip: padding-box

#qnaPaper
  margin-top: 10vh
  width: 80%
  align-self: center
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)

#froala
  width: 100%

